.card-main {
    /* margin: 20; */
    /* background-color: aliceblue; */
    /* width: 80%; */
    /* margin: 50px; */
    /* margin-top: 30px; */
    /* margin-left: 10%; */
    height: 90px;
    
    /* border-radius: 10px; */
    display: flex;
    justify-content: space-between;
    /* padding: 15px; */
    padding-left: 25px;
    /* padding-right: 5%; */

}