.header-main {
    /* border: 1px solid black; */
    /* margin-top: -1px; */
    background-color: #001F2D;
    height: 60px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-title {
    color: white;
    font-size: xx-large;
    margin-left: 20px;
    margin-top: 10px;
}